@charset "utf-8";

nav {
    margin: 0 0 0 auto;
}

li {
    list-style: none;
    margin: 0;
    margin-left: 20px;
}

ul {
    display: flex;
    text-align: right;
}

header {
    width: 93vw;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
}

.hrogo {
    clip-path: circle(50% at 50% 50%);
    width: 50px;
    height: 50px;
}

.hps {
    text-align: right;
}

.hpsf {
    font-size: 20px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
a:hover {
    background-color: blue;
    transition: 0.3s;
}

body {
    background-color: #0f0f0f;
}