@charset "UTF-8";
html{
    width: 100vw;
}

body {
    overflow-x: hidden;
  }

.sopieizo {
    color: #ffffff;
    margin-left: 3%;
    font-size: 6vw;
    padding-top: 50vh;
}
.sopieizo2 {
    color: #ffffff;
    margin-left: 3%;
    font-size: 2vw;
    border-top: 1px solid #ffffff;
}
.sopieizo3 {
    margin-left: 3%;
    color: #dfdfdf;
    font-size: 30%;
    letter-spacing: 2px;
    padding-bottom: 20vh;
}

.area1 {
    width: 100vw;
    height: 100vh;
    
}

.hdb {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.hdbf1 {
    color: #ffffff;
    margin-left: 2vw;
    font-size: 150%;
}
a:hover{
    transition: .2s;
    text-decoration: underline dotted rgb(0, 153, 255);
}

.hdbf2 {
    color: #ffffff;
    text-align: right;
    margin-right: 2vw;
    font-size: 150%;
}

.area1 {
    width: 100vw;
    height: 100vh;
    color: aliceblue;
}


.newscf {
    font-size: 1.5vw;
    padding-right: 7vh;
}

.newscf{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	align-items: center;
}
.newscfitem01 {
	-webkit-flex: 0 1 30%;
	flex: 0 1 30%;
}
.newscfitem02 {
	-webkit-flex: 0 1 30%;
	flex: 0 1 30%;
}
.newscfitem03 {
	-webkit-flex: 0 1 30%;
	flex: 0 1 30%;
}

footer {
    width: 101%;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: black;
}
.fot {
    font-size: 150%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    background-color: black;
}

.newsa {
    transition: 0.3s;
}
.newsa:hover {
    transition: 0.3s;
    color: rgb(40, 30, 129);
    text-decoration: underline dotted rgb(0, 153, 255);
}

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

.videop {
    filter: blur(10px) brightness(58%) grayscale(22%);
    position: absolute;
    left: -10px;
}
.video-areaa {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
