@charset "utf-8";
/* CSS Document */
#example{
  width:auto;
}
/*親要素をrelativeに*/
#example {
  position: relative;
}
/*3つともabsoluteに*/
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
  position: absolute;
}
.one {
  left: 50%;
  top: 50%;
	transform: translate(-50%,-50%)
}
.two {
  left: 50%;
  top: 120%;
	transform: translate(-50%,-50%)
}
.three {
  left: 10%;
  top: 10%;
}
.four {
  left: 10%;
  top: 40%;
}
.five {
  left: 10%;
  top: 10%;
}
.six {
  left: 12%;
  top: 40%;
}
.seven {
  left: 12%;
  top: 55%;
}
.eight {
  left: 2.5%;
  top: 120%;
}
.nine {
  left:5%;
  top: 230%;
}
.ten {
  left: 2.5%;
  top: 380%;
}
.eleven {
  left: 5%;
  top: 300%;
}
.twelve {
  left: 8%;
  top: 325%;
}
/*色付けなどは省略*/
h2 {
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin:0; padding:0;
}