@charset "utf-8";
/* Fonts */

h1{
	font-family: 'Roboto', sans-serif;
}

/* Flex */
.f-container{
	display:flex;	
}

.kotei {
  position: fixed;
  top: 10px; 
}

/* shape */
.triangle {
   width: 100%;
   height: 100vh;
   background: #F7F53E;
}

.element {
    clip-path: polygon(74% 0, 100% 0, 100% 100%, 0% 100%);
}

/* position */
.position {
position: absolute; /* 今の位置を基準 */
top: 40%; /* 上から10px */
left: 15%; /* 左から20px */
}