@charset "UTF-8";

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fadein {
	opacity : 0;
	transform : translate(0, 100px);
	transition : all 500ms;
    margin-bottom: 2vh;
	}

.fadein.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}
