@charset "utf-8";

body{
    margin: 0 0 0 0;
}

.workc {
    padding-left: 1vw;
    padding-top: 30vw;
}

.workstext {
    font-size: 12vw;
    color: white;
}

.work {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
    justify-content: center;

}

.flexitem {
object-fit: contain;
flex-basis: 33.333vw;
position: relative;
overflow: hidden;
background-color: black;
margin-bottom: 1vh;
}

.flexitem .contentstitle {
    font-size: 1.4rem;
    margin: 0!important;
    padding: 0!important;
    padding-right: 5rem;
}

.flexitem:hover {
    color: #fff;
}

.simg {
    width: 100vw;
    transition: 0.3s;
}

.simg:hover {
    opacity: 0.7;
    scale: 110%;
    transition: 0.3s;
}

.contentstitle {
    color: rgb(190, 190, 190);
    transition: 0.3s;
    line-height: 2rem;
}

.flexitem:hover .contentstitle {
    color: #fff;
    transition: 0.3s;
}

.flexitem:hover .workclass {
    background-color: blue;
}

.flexia {
    background-color: blue;
}

.workclass {
    background-color: rgb(0, 0, 255);
    font-size: 0.8rem;
}