@charset "utf-8";

.main {
  padding-left: 10vw;
  padding-top: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
}

.ak {
  text-decoration: underline;
}

.contacttext {
  font-size: 80px;
}

.cformtext {
  height: 2.4em;
  width: 50%;
  padding: 0 16px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(138, 138, 138);
  border-right: 0px solid;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(227, 227, 227);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  -webkit-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -moz-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -o-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -ms-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  transform: 0.5s cubic-bezier(0,.68,0,1.01);
}
.cformtext:focus {
  -webkit-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -moz-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -o-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -ms-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  transform: 0.5s cubic-bezier(0,.68,0,1.01);

  outline: 0;
  border-bottom: 1.5px solid rgb(0, 64, 254);
}

.cformemail {
  height: 2.4em;
  width: 50%;
  padding: 0 16px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(138, 138, 138);
  border-right: 0px solid;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(227, 227, 227);
  box-shadow: 00px 0px 0px 0px rgba(0, 0, 0, 0);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  -webkit-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -moz-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -o-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -ms-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  transform: 0.5s cubic-bezier(0,.68,0,1.01);
}
.cformemail:focus {
  -webkit-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -moz-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -o-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -ms-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  transform: 0.5s cubic-bezier(0,.68,0,1.01);

  outline: 0;
  border-bottom: 1.5px solid rgb(0, 64, 254);
}

.cformtextarea {
  height: 7em;
  width: 50%;
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid rgb(138, 138, 138);
  background-color: rgba(0, 0, 0, 0);
  color: rgb(227, 227, 227);
  box-shadow: 00px 0px 0px 0px rgba(0, 0, 0, 0);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  -webkit-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -moz-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -o-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -ms-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  transform: 0.5s cubic-bezier(0,.68,0,1.01);
}
.cformtextarea:focus {
  -webkit-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -moz-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -o-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  -ms-transition:  0.5s cubic-bezier(0,.68,0,1.01);
  transform: 0.5s cubic-bezier(0,.68,0,1.01);

  height: 10em;
  outline: 0;
  border: 1.5px solid rgb(0, 64, 254);
}

.cformbutton {
  padding: 8px 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 1.3px solid rgb(255, 255, 255);
  border-radius: 3px;
  color: white;
}
.cformbutton:focus {
  cursor: pointer;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.003);
  border: 1.3px solid rgb(0, 64, 254);
}

.formitem {
  margin-bottom: 1em;
}

@media screen and (max-width:767.9px) { /* スマホ */
  .main {
    padding: 20vh 5vw;
  }

  .comissiontext {
    font-size: 12vw;
    margin-bottom: 2vh;
  }

}

@media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: light) {

}