main {
    width: 95%;

    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 255, 255);
    margin: 50px 0 10px 0;
    font-size: 2rem;
    font-weight: 600;
}

p {
    color: rgb(211, 211, 211);
}

.left {
    flex-grow: 1;
    text-align: left;
}

.right {
    flex-grow: 3;
    text-align: left;
    margin-top: 30vh;
    padding-bottom: 50vh;
}

.title {
    color: rgb(192, 192, 192);
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    margin-top: 30vh;
}

.linkbutton {
    color: rgb(192, 192, 192);
    padding: 3px 15px;
    margin-right: 1rem;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 100px;

    display: flex;
    align-items: center;
    transition: 0.3s;
}
.linkbutton:hover {
    color: white;
    background-color: rgb(31, 99, 235);
    transition: 0.3s;
}

.center-item {
    position: absolute;
    top: 100vh;
}

.section {
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .right {
        margin-top: 0;
        padding-left: 0;
    }
}