html {
    background-color: rgb(13, 13, 13);
}

h1 {
    font-family: "Montserrat Variable", 'Noto Sans JP Variable', sans-serif;
}

h2 {
    font-family: "Montserrat Variable", 'Noto Sans JP Variable', sans-serif;
}

h3 {
    font-family: "Montserrat Variable", 'Noto Sans JP Variable', sans-serif;
}

p {
    font-family: "Montserrat Variable", 'Noto Sans JP Variable', sans-serif;
}

a {
    font-size: 16px;
}

.twitter-tweet {
    min-height: 500px;
    max-height: 1000px;
}