/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/works/[workId]/page.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
@charset "utf-8";

.page_main__pfYaC {
  padding: 10vw;
}

.page_title__3E8yW {
 font-size: 60px; 
}

.page_class__eqqBT{
  color: rgb(206, 206, 206);
}

.page_flex__8Nc_H {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page_aboutbox__ni1eF {
  width: 100%;
  margin-top: 20px;
  padding: 10px 30px;
  border: solid white;
  border-width: 1px 0 1px 0;
}

.page_about__sKB5d {
  margin-top: 20px;
}

.page_linksbox__FUELg {
  display: flex;
}

.page_linkbox__sgIh0 {
  border: 1px white solid;
  border-radius: 1000px;
  width: auto;
  padding: 5px 30px;
  margin-bottom: 1vw;
  margin-right: 1vw;
  text-align: center;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}

.page_snsa__RgPGz:hover .page_snsbox___aIIg {
  transition: 0.3s;
  border: 1px rgb(10, 96, 255) solid;
}

.page_icons__2D_X_ {
  margin-right: 5px;
}

.page_leftbox__rscz5 {
  position: fixed;
  width: 35%;
}

.page_rightbox__TmpzX {
  position: absolute;
  right: 10vw;
  width: 35%;
}

@media screen and (max-width:767.9px) { /* スマホ */
  .page_main__pfYaC {
    padding: 20vh 5vw;
  }
  .page_title__3E8yW {
    font-size: 10vw; 
  }
  .page_flex__8Nc_H {
    display: block;
    justify-content: space-between;
    width: 100%;
  }
  .page_leftbox__rscz5 {
    position: static;
    width: 100%;
  }
  .page_rightbox__TmpzX {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
}

@media (prefers-color-scheme: dark) {
  .page_class__eqqBT{
    color: rgb(206, 206, 206);
  }
  
  .page_aboutbox__ni1eF {
    border: solid white;
    border-width: 1px 0 1px 0;
  }
  
  .page_linkbox__sgIh0 {
    border: 1px white solid;
  }
  .page_snsa__RgPGz:hover .page_snsbox___aIIg {
    border: 1px rgb(10, 96, 255) solid;
  }
}
@media (prefers-color-scheme: light) {
  .page_class__eqqBT{
    color: rgb(33, 33, 33);
  }
  
  .page_aboutbox__ni1eF {
    border: solid rgb(182, 182, 182);
    border-width: 1px 0 1px 0;
  }
  
  .page_linkbox__sgIh0 {
    border: 1px rgb(0, 0, 0) solid;
  }
  .page_snsa__RgPGz:hover .page_snsbox___aIIg {
    border: 1px rgb(10, 96, 255) solid;
  }
}
