/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/about/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
@charset "utf-8";

.page_main__pVRPx {
  padding: 10vw;
}

.page_ak__aR94x {
  text-decoration: underline;
}

.page_icons__6RX0K {
  margin-right: 5px;
}

.page_abouttext__6Nj_w {
  font-size: 80px;
}

.page_snsflex__PK4sD {
  display: flex;
  align-items: center;
}
.page_snsbox__57snu {
    border: 1px white solid;
    border-radius: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 1vw;
    text-align: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
}

.page_snsa__PXN5g:hover .page_snsbox__57snu {
    transition: 0.3s;
    border: 1px rgb(10, 96, 255) solid;
}

.page_snsa__PXN5g:hover {

}

.page_contdm__mFE3g {
    font-size: 15px;
}

.page_subheading__g_hTU {
  margin-top: 40px;
}

.page_iconflex__xSVTh {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:767.9px) { /* スマホ */
  .page_main__pVRPx {
    padding: 20vh 5vw;
  }

  .page_abouttext__6Nj_w {
    font-size: 12vw;
  }
}

@media (prefers-color-scheme: dark) {
  .page_snsbox__57snu {
    border: 1px white solid;
  }

  .page_snsa__PXN5g:hover .page_snsbox__57snu {
    border: 1px rgb(10, 96, 255) solid;
  }

  .page_snsa__PXN5g:hover {
      background-color: rgba(240, 248, 255, 0);
  }

  .page_contdm__mFE3g {
      color: white;
  }
}
@media (prefers-color-scheme: light) {
  .page_snsbox__57snu {
    border: 1px rgb(0, 0, 0) solid;
  }

  .page_snsa__PXN5g:hover .page_snsbox__57snu {
    border: 1px rgb(10, 96, 255) solid;
  }
  
  .page_snsa__PXN5g:hover {
    background-color: rgba(240, 248, 255, 0);
  }

  .page_contdm__mFE3g {
      color: rgb(0, 0, 0);
  }
}
